.tesimonial_container{
    background-image: url(../../../images/logos/testimonial-bg.png);
    height: 100%;
    width: 100%;
}
.heading{
    color: #fff;
    font-weight: bold;
}
.reviews_container{
    background-color: #fff;
    border-radius: 10px;
}