.header {
    background-image: url(../../../images/logos/banner-bg.svg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.header_text {
    margin-top: 100px;
    color: #fff;
    font-weight: 500;
    /* animation: TextEnlarge 1s ease; */
}
/* .header_image{
    animation: TextEnlarge 1s ease;
} */
.btn_learn{
    background-color: #0085F2;
    padding: 11px 25px;
    border-radius: 20px;
    color: #F8FCFF;
    border: none;
    cursor: pointer;
}
.btn_learn:hover {
    background-color: #0770c7;
}

/* animations */

@keyframes TextEnlarge {
    0% { 
        transform: scale(.2);
    }
    100% { 
        transform: scale(1);
    }
}