@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
html {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 62.5%; */
}
body {
    max-width:100%;
    overflow-x:hidden;
}
.common_button{
    padding: 8px 30px;
    border: 1px solid #3C37F1;
    border-radius: 35px;
    /* border: none; */
    color: #3C37F1;
    font-size: 17px;
    font-weight: 500;
    transition: all .3s ease;
}
.common_button:hover {
    background-color: #3C37F1;
    color: #fff;
}