.service_item {
    animation: itemUp 3s ease infinite;
}
.service_item:hover{
    background-color: #6F99C1;
    transition: all 1s ease;
    border-radius: 7px;
    cursor: pointer;
}
.link_Style{
    color: black;
    text-decoration: none;
}
/* animatons */
@keyframes itemUp {
    0%{
        transform: translateY(+30px);
        transform: scale(.5);
    }
    50%{
        transform: translateY(+40px);
    }
    100%{
        transform: translateY(0);
        transform: scale(1);
    }
}