nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C37F1;
    max-width: 100%;
    height: 100px;
    padding: 0 20px 0 100px;
    /* position: fixed; */
}
/* nav .img_box {
    font-size: 33px;
    font-weight: 700;
    color: #fff;
} */
nav ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 15px;
    letter-spacing: 1px;
    transition: all 0.5s ease;
    border-radius: 22px;
    margin: 0 7px;
}
nav ul li a:hover,
nav ul li a.active {
    background-color: #302CC1;
    color: white;
}
nav .hamberger i{
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.menu_check {
    display: none;
}

.focus:focus {
    background-color: antiquewhite;
    color: black;
}

.admin_btn{
    background-color: #00D663;
    padding: 6px 22px;
    border-radius: 30px;
    color: white;
}
.admin_btn:hover{
    background-color: #0ea052;
}

/* media queries */
@media (max-width: 1300px) {
    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 19px;
        padding: 8px 13px;
        letter-spacing: 1px;
        transition: all 0.5s ease;
        border-radius: 22px;
        margin: 0 6px;
    }
}

@media (max-width: 1200px) {
    nav{
        position: relative;
        max-width: 100%;
    }
    nav ul {
        position: fixed;
        top: 85px;
        left: -100%;
        background-color: cadetblue;
        border-radius: 10px;
        /* opacity: 2; */
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
        z-index: 1;
        /* margin-top: 0; */
        /* margin-bottom: 100px; */
    }
    .menu_check:checked{
        transition: all 0.5s ease;
    }
    .menu_check:checked ~ .hamberger i:before {
        content: "\f00d";
    }
    .menu_check:checked ~ ul {
        left: 0;
    }
    /* .menu_check:checked ~ .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        background: white;
        opacity: 0;
    } */
    nav ul li {
        margin: 40px;
    }
    nav ul li:first-child {
        margin-top: 10px;
    }
    nav ul li a{
        font-size: 28px;
    }
    nav .hamberger i{
        position: absolute;
        top: 40px;
        right: 20px;
        color: white;
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    .img_box {
        position: absolute;
        left: 55px;
    }
    nav ul li a.active,
    nav ul li a:hover {
        background-color: rgb(47, 120, 122);
        color: white;
    }
}