/* .user_logo{
    margin-top: 50px;
} */
.dashboard_nav{
    /* background-color: #3C37F1; */
    max-width: 100%;
    height: 90px;
}
.welcome{
    display:flex;
    color:#A52EFA;

}
.name{
    margin-left: 10px;
    font-weight: 600;
}
.headline{
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin: 30px auto;
}
.log_out_btn{
    padding: 5px 22px;
    outline: none;
    border: 1px solid #3C37F1;
    border-radius: 25px;
    /* box-shadow: 1px 1px 15px gray; */
    transition: all 0.3s ease;
    margin-left: 15px;
}
.log_out_btn:hover{
    background-color: #3C37F1;
    color: white;
}
.log_out_icon{
    margin-right: 5px;
    font-size: 22px;
}
@media (max-width: 768px) {
    .welcome h4{
        margin: 0 auto;
    }
    .welcome{
        flex-direction: column;
    }
    .dashboard_nav{
        margin-bottom: 50px;
    }
    .log_out_btn{
        margin-top: 15px;
    }
}